[submodule "doodoo"]
	path = doodoo
	url = https://github.com/owenroberts/doodoo
[submodule "ui"]
	path = ui
	url = https://github.com/owenroberts/ui
[submodule "cool"]
	path = cool
	url = https://github.com/owenroberts/cool
