body { 
	margin: 0; 
/*	overflow: hidden;*/
	display: flex;
/*	align-items: center;*/
	justify-content: center;
	height: 100%;
	background-color: black;
	color: white;
	font-family: verdana;
	line-height: 2;
	max-width: 100vw;
	padding-top: 4vh;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.95) 50%, rgba(0, 0, 0, 0.95) 100%), url(noise.jpg);
}

h1 {
	color: #ad95df;
}

a, span {
	color: #ad95df;
/*	border: 2px solid #ad95df;*/
	padding: 4px;
	border-radius: 4px;
	line-height: 1.5em;
}

span a {
	border: none;
}

a:hover,
span:hover {
/*	background: white;*/
/*	border-color: white;*/
	color: white;
}

a {
	text-decoration: none;
}

#container {
	margin: auto;
}

#header {
	margin-bottom: 1em;
}

.track-play-btn {
	font-size: 1.5em;
	line-height: 1em;
}

#fft-canvas {
	vertical-align: bottom;
}